{# templates/ajouterNAT.html #}

{% extends "index.html" %}

{% block content %}

<section class="body">
    <h2>Ajouter des règles du NAT :</h2>
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">IP Source</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="10.0.0.1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Port Source</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="80">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">IP Dest</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="192.168.1.2">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Port Dest</label>
            <input type="text" class="form-control" id="exampleFormControlInput4" placeholder="8080">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</section>

{% endblock content %}