{% extends "index.html" %}

{% block content %}
<section class="body">
    <h2>Liste des Alias :</h2>
    <table class="table table-striped">
        <thead>
            <tr id="myTH">
                <th scope="col" data-info="Nom du serveur">Nom</th>
                <th scope="col" data-info="Adresse IP:Port">IP:Port</th>
            </tr>
        </thead>
        <tbody>
            {% for row in alias %}
            <tr>
                <td>{{ row.alias }}</td>
                <td>{{ row.ip_address }}:{{ row.port }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content %}