<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    
    <title>TP3 - Technologies WEB</title>
    <link href="{{ url_for('static', filename='bootstrap-4.0.0-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap-4.0.0-dist/js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' ) }}" media="all">
</head>

<body>
    <header>
        <div class="titre">
            <h1>Gestion du firewall Linux Netfilter & Iptables</h1>
        </div>
    </header>
    <div class="menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('start')}}">Accueil <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('alias')}}">Voir les Alias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('rules_nat')}}">Règles du NAT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('rules_nat_add')}}">Ajouter des règles du NAT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {% block content %}
    <section class="body">
        <h2>Informations système :</h2>
        <div class="content">
            <p>
                Cette page contient les informations système...
            </p>
        </div>
    </section>
    {% endblock content %}
    <footer>
        <div class="card text-center">
            <div class="card-body">
                <p class="card-text">Site réalisé dans le cadre du TP3 de Technologies du WEB</p>
                <a href="{{url_for('start')}}" class="btn btn-primary">Retour à l'accueil</a>
            </div>
            <div class="card-footer text-muted">
                By Maria DUVERT
            </div>
        </div>
    </footer>
</body>

</html>