{# templates/reglesNAT.html #}

{% extends "index.html" %}

{% block content %}

    <section class="body">
        <h2>Règles du NAT :</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">IP Source</th>
                    <th scope="col">Port Source</th>
                    <th scope="col">IP Dest</th>
                    <th scope="col">Port Dest</th>
                </tr>
            </thead>
            <tbody>
                {% for row in nat %}
                <tr>
                    <td>{{ row.ipsource }}</td>
                    <td>{{ row.portsource }}</td>
                    <td>{{ row.ipdest }}</td>
                    <td>{{ row.portdest }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    {% endblock content %}
    