{# templates/reglesNAT.html #}

{% extends "index.html" %}

{% block content %}

    <section class="body">
        <h2>Règles du NAT :</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">IP Source</th>
                    <th scope="col">Port Source</th>
                    <th scope="col">IP Dest</th>
                    <th scope="col">Port Dest</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>10.0.0.1 </td>
                    <td>80</td>
                    <td>192.168.1.2</td>
                    <td>8080</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>10.0.0.1 </td>
                    <td>80</td>
                    <td>192.168.1.2</td>
                    <td>8080</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>10.0.0.1 </td>
                    <td>80</td>
                    <td>192.168.1.2</td>
                    <td>8080</td>
                </tr>
            </tbody>
        </table>
    </section>

    {% endblock content %}
    